.container{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(202, 199, 199);
    border-radius: 25px;
    background-color: white;
    width: 30%;
    height: 490px;
}
.container-elements{
    width: 400px;
    align-self: center;
}
.container-image{
    text-align: center;
    margin: 10px;
}
#logo_page{
    justify-content: center;
    width: 25%;
    height: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid black;
    border-radius: 95px;
}
#icon_page{
    width: 6%;
    height: 6%;
    margin-right: 2%;
    border: 2px solid black;
    border-radius: 95px;
}

#icon_account{
    width: 25px;
    height: 25px;
}
#icon_password{
    width: 25px;
    height: 25px;
}
#icon_toogle{
    width: 25px;
    height: 25px;
}
.container-form{
    padding: 20px;
}
.container-button{
    text-align: center;
}